@import "tailwindcss";

:root {
  --background: #dbffd3;
  --foreground: #dfffe5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dfffe5;
    --foreground: #dbffd3;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@keyframes lineMove {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes iconFade {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(10px);
  }

  50% {
    opacity: 1;
    transform: scale(1.1) translateY(0);
  }

  100% {
    opacity: 0;
    transform: scale(0.8) translateY(-10px);
  }
}

.animate-line {
  animation: lineMove 2s linear infinite;
}

.animate-icon {
  animation: iconFade 2s ease-in-out infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease forwards;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}